/* background */
#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

/* Displaying scraped data  */
@font-face {
  font-family: 'Merriweather', serif; 
  src: url('https://fonts.google.com/specimen/Merriweather#standard-styles');
}

body {
    font-family: 'Merriweather', serif;
    text-align: center;
    background-color: #FBF4E9;
    
  }
  
 
  h1 {
    margin-top :6em;
    color: #808080;
    position: relative;
    }

 

  p {
    margin-top: 1.5em;
    color: black;
    color: black;
    line-height: 2;
    font-size: large;
    position: relative;
    }
  
  
  .second-container {
    /* background-color: #060606; */
    padding: 100px;
  }



  /* Scraper title */
@import url('https://fonts.googleapis.com/css?family=Roboto:700');

body {
  margin:0px;
  font-family:'Roboto';
  text-align:center;
 
}

#container {
  top:-56px;
  color:#999;
  text-transform: uppercase;
  font-size:36px;
  font-weight:bold;
  padding-top:200px;  
  position:fixed;
  width:100%;
  bottom:45%;
  display:block;
}

#flip {
  height:50px;
  overflow:hidden;
}

#flip > div > div {
  color:#fff;
  padding:4px 12px;
  height:45px;
  margin-bottom:45px;
  display:inline-block;
}

#flip div:first-child {
  animation: show 5s linear infinite;
}

#flip div div {
  background: #A2CDCD;
}
#flip div:first-child div {
  background:#BFA2DB;
}
#flip div:last-child div {
  background:#D57E7E;
}

@keyframes show {
  0% {margin-top:-270px;}
  5% {margin-top:-180px;}
  33% {margin-top:-180px;}
  38% {margin-top:-90px;}
  66% {margin-top:-90px;}
  71% {margin-top:0px;}
  99.99% {margin-top:0px;}
  100% {margin-top:-270px;}
}



/* Viewing of scraped data and its button */

html {
  font-family: "Abel", sans-serif;
  color: #FFF;
  background:(#222);
} 

#wrapper {
  height: 100vh;
}

#button {
  position: absolute;
  top: 83%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border: solid 4px;
  padding: 10px;
  border-radius: 5px;
  font-size: 1em;
  color:#145648;
  cursor: pointer;
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s;
}

#button:hover {
  color: black;
} 
