<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="C:\Users\Rd\OneDrive\Desktop\Scraper_yt\static\style1.css">


</head>

<body>
    <!-- background
    <video autoplay muted loop id="myVideo">
        <source src="web.mp4" type="video/mp4">
      </video> -->


    <!-- Scraper title -->
    <form action="http://localhost:5000/index1.html" method="POST">
        <div id=container>
            Scrape
            <div id=flip>
                <div>
                    <div>websites</div>
                </div>
                <div>
                    <div>blogs</div>
                </div>
                <div>
                    <div>Everything !</div>
                </div>
            </div>
    </form>
    </div>



    <!-- Project member names -->

    <p class="item-0">PROJECT BY:</p>
    <p class="item-1"> Aryaman Tiwary, Diti Divekar</p>
    <p class="item-2">Shriya Pingulkar, Shruti Tyagi</p>
    <p class="item-3"> Maryam Binderwala, Surin Shah</p>


    <!--  Input of url   -->
    {% block content %}
    <form action="/result" method="POST">
        
    <div class="wrapper">
        <div class="container">
            <input type="url" class="form-control" placeholder="url" name="url">
        </div>
    </div>
   
    <div class="wrapper">
            <div class="container">
            <input type="text" class="form-control" placeholder="keywords" name="keywords">
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
    {% endblock %}

    <!-- Input of keywords -->
    <!-- <div class="wrapper1">
        <div class="container1">
            <input type="text" class="keywords" placeholder="Enter the relevant keywords separated by a comma">
        </div>
    </div> -->

    <!-- <a href="/getcsv">Download</a> -->


    <!-- Button for scraped data -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Abel' rel='stylesheet' type='text/css'>
    <div id="wrapper" onclick='location.href="result.html"'>
        <input type="radio" id="open" name="popup">
        <input type="radio" id="close" name="popup">
        <div id="popup">
            <label id="button" for="open">View results</label>
        </div>



    </div> -->

</body>

</html>
